:root {
  --main-font: #1ed760;
}

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Staatliches", sans-serif;
  overflow: hidden;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: #ffffff;
}
#headingbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#headingbar button {
  font-family: "Staatliches", sans-serif;
  background: local;
  border: none;
  outline: none;
  position: relative;
  display: inline-block;
  padding: 15px;
  margin-left: 15px;
  color: var(--main-font);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}

#dynamic_table td {
  color: transparent;
  background-color: #e5e5e5;
  opacity: 1;
  width: 40px;
  height: 40px;
}
#dynamic_table td:hover {
  opacity: 0.8;
}
#dynamic_table table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: 25px;

}

li {
  float: left;
}

li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 3px;
  margin: 10px;
}

li a:hover:not(.active) {
  background-color: #e5e5e5;
  opacity: 0.4;
}
