:root {
  --cell-color: rgb(229, 229, 229);
  --wall-color: #212529;
  --s-node-color: #00ff95;
  --e-node-color: #ff0f7b;
  --bg: rgb(255, 255, 255);

  --visited-0: #ff0f7b;
  --visited-1: #F0B67F;
  --visited-2: #76ffc6;
}

html:not(.dropdown-menu, .table) {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

html,
body {
  overflow: hidden;
  height: 100%;
  user-select: none;
  background-color: var(--bg);
}
#help {
  margin-right: 1vw;
  color: var(--e-node-color);
  
}
#help:hover {
  cursor:pointer;
  opacity: 0.7;
}
#bold {
  font-weight: bold;
}

#heading {
  margin-left: 1vw;
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  background: hsla(155, 100%, 50%, 1);

  background: linear-gradient(
    0deg,
    hsla(155, 100%, 50%, 1) 30%,
    hsla(333, 100%, 53%, 1) 70%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(155, 100%, 50%, 1) 30%,
    hsla(333, 100%, 53%, 1) 70%
  );

  background: -webkit-linear-gradient(
    0deg,
    hsla(155, 100%, 50%, 1) 30%,
    hsla(333, 100%, 53%, 1) 70%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00FF95", endColorstr="#FF0F7B", GradientType=1 );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.nav-item {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}
.dropdown-menu {
  overflow: inherit !important;
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#description {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#table td {
  color: transparent;
  opacity: 1;
  width: 35px;
  height: 28px;
}

#table td:hover {
  opacity: 0.75;
}

#table {
  overflow: hidden;
  height: 90%;
  user-select: none;
  background-color: var(--cell-color);
  border-spacing: 0;
  border-collapse: collapse;
}


select {
  background-color: transparent;
  outline: none;
}

.wall {
  background-color: var(--wall-color) !important;
}

.cell {
  background-color: var(--cell-color) !important;
}

.node-start {
  background-color: var(--s-node-color) !important;
}

.node-end {
  background-color: var(--e-node-color) !important;
}

.node-start:hover,
.node-end:hover {
  animation-name: nodeHover;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.wall:hover {
  animation-name: wallHover;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-visited {
  background-color: #F0B67F;
}

.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.node-shortest-path {
  background-color: #f48803;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #f48803;
  }

  50% {
    transform: scale(1.2);
    background-color: #f48803;
  }

  100% {
    transform: scale(1);
    background-color: #f48803;
  }
}
@keyframes nodeHover {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes wallHover {
  0% {
    transform: scale(0.4);
  }

  50% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(1);
  }
}
