:root {
  --cell-color: rgb(229, 229, 229);
  --wall-color: rgb(0, 0, 0);
  --s-node-color: #00ff95;
  --e-node-color: #ff0f7b;
  --bg: rgb(255, 255, 255);
/* 
  --visited-0: #ffc15e;
  --visited-1: #f7b05b;
  --visited-2: #f7934c;
  --visited-3: #cc5803; */

  --visited-0: #ff0f7b;
  --visited-1: #F0B67F;
  --visited-2: #D6D1B1;
  --visited-3: #76ffc6;
}

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  height: 100%;
  user-select: none;
  background-color: var(--bg);
}
#heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 46px;
  margin-bottom: 0;

  background: hsla(155, 100%, 50%, 1);

  background: linear-gradient(
    0deg,
    hsla(155, 100%, 50%, 1) 43%,
    hsla(333, 100%, 53%, 1) 57%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(155, 100%, 50%, 1) 43%,
    hsla(333, 100%, 53%, 1) 57%
  );

  background: -webkit-linear-gradient(
    0deg,
    hsla(155, 100%, 50%, 1) 43%,
    hsla(333, 100%, 53%, 1) 57%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00FF95", endColorstr="#FF0F7B", GradientType=1 );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#headingbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#table td {
  color: transparent;
  opacity: 1;
  width: 35px;
  height: 28px;
}

#table td:hover,
li a:hover,
select:hover {
  opacity: 0.75;
}

#table {
  background-color: var(--cell-color);
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
  border-collapse: collapse;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

li a,
select {
  display: block;
  color: #000;
  text-align: center;
  border: none;
  padding: 10px 12px;
  text-decoration: none;
  margin: 10px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: lowercase;
  font-size: 20px;
}
#path-btn {
  font-weight: bold;
}

select {
  background-color: transparent;
  outline: none;
}

.wall {
  background-color: var(--wall-color) !important;
}

.cell {
  background-color: var(--cell-color) !important;
}

.node-start {
  background-color: var(--s-node-color) !important;
}

.node-end {
  background-color: var(--e-node-color) !important;
}

.wall:hover,
.node-start:hover,
.node-end:hover {
  animation-name: tableHover;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #f48803;
  }

  50% {
    transform: scale(1.2);
    background-color: #f48803;
  }

  100% {
    transform: scale(1);
    background-color: #f48803;
  }
}
@keyframes tableHover {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.9);
    background-color: var(--visited-0);
  }

  40% {
    background-color: var(--visited-1);
  }

  70% {
    transform: scale(1.1);
    background-color: var(--visited-2);
  }

  100% {
    background-color: var(--visited-3);
  }
}
